body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

#input-el {
  border: 1px solid rgb(70, 193, 191);
  border-radius: 5px;
  width: 100%;
  min-width: 150px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

#input-btn,
#delete-btn,
#tab-btn {
  background-color: rgb(70, 193, 191);
  color: white;
  border: 1px solid rgb(70, 193, 191);
  border-radius: 5px;
  width: 115px;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

#delete-btn {
  background-color: rgb(238, 187, 68);
  border: 1px solid rgb(238, 187, 68);
}

#input-btn:hover,
#tab-btn:hover,
#delete-btn:hover {
  background-color: rgba(70, 193, 191, 0.932);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#delete-btn:hover {
  background-color: rgba(238, 187, 68, 0.842);
}

#input-btn:active,
#tab-btn:active {
  background-color: rgb(59, 175, 173);
}

#delete-btn:active {
  background-color: rgb(230, 180, 65);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 5px;
}

a {
  color: rgb(2, 141, 165);
}
